
*{margin:0;padding:0}
.allWrap{width: 100%;margin:5px auto;}
.tabBox{margin:15px 5px}
.tab-link{width: 12%; height: 30px; vertical-align: top; display: inline-block; text-align: center;background-color:#929090;border-radius: 5px;color:#fff;cursor: pointer; font-size: 15px;
}
.tab-link.current{
    background-color: #27268fea;
    font-weight: 600;    
}
.tab-content{
    display: none;
}
.tab-content.current{
    display: block;
    width: 100%;
    height: 600px;
    background-color:#f1f1f1;
    padding: 9px 20px;
    font-size: 18px;
    /* text-align: center; */
    line-height: 20px;
    margin: 5px;
    overflow-y: scroll;
    justify-content: flex-end;
}

/* .tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    padding: 0;
    list-style: none;
    position: relative;
}

.tab > * {
    flex: none;
    padding-left: 20px;
    position: relative;
}

.tab > * > a {
    display: block;
    text-align: center;
    padding: 9px 20px;
    color: #999;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    line-height: 20px;
}

.tab.active a {
    color:#222;
    border-color: #1e87f0;
}

.tab li a {
    text-decoration: none;
        cursor: pointer;
}

.tab-content{
    padding: 0;
}

.tab-content li {
    display: none;
}
.tab-content li.active {
    display: initial;
} */



/* .big_tab ul{overflow: hidden; width: 100%;}
.big_tab ul li{width: 25%; box-sizing: border-box; float: left; list-style-type: none; border: 1px solid #ccc; text-align: center; line-height: 40px;}
.big_tab ul li.activeClass{font-weight: bold; font-size: 20px;}
.sm_select {display: none;}
.sm_select select {width:100%; height: 40px; }


@media (max-width:500px){
      .sm_select {display: block;}
      .big_tab{display: none;}
 } */


 

 