---
layout: leftnav-page
---

<style>
.pics-x{
  object-fit: cover;
  width: 70%;
  /* height: 250px; */
  height: 100%;
}


/* Default table styles for this demo */
.table-x {
    border-collapse: collapse;
    text-align: left;
    width: 40%;
    font-size: 80%;
}
.table-x tr {
    background: rgb(231, 231, 231);
    border-bottom: 1px solid
}
.table-x th, table td {
    padding: 10px 20px;
}

/* Simple CSS for scrollable table on mobile */
.table-x {
    min-width: 600px;
}

</style>

<div class="content">
{{- content -}}
</div>


{%- assign tabs = site.data.zen_gallery -%}
{%- assign link = tabs.main-url -%}
{%- assign curr = tabs.tabs-current -%}

<div class="allWrap">     
    <div class="tabBox">

        <p class="tab-link current" data-tab="{{curr.source}}"> {{curr.name}}</p>   
        {%- for t in curr.sub-tabs -%}
            <p class="tab-link" data-tab="{{t.source}}"> {{t.name}}</p>            
        {% endfor %}
    </div>
    
<!-- show content     -->
    <div id="{{curr.source}}" class="tab-content current">
      <h4 class="has-text-secondary"> <b>| {{curr.name}} </b></h4> 
        <br>

        {%- for i in (1..curr.img-num) -%}
          {%- if curr.image-url -%}
              <!-- <img class="margin--right--none"  src="{{- site.url -}}{{link}}arts{{- curr.image-url -}}/{{curr.name}}-{{ i }}.png" > -->
              <a href="{{- site.url -}}{{link}}arts{{curr.image-url}}{{link}}arts{{curr.img-url}}/{{curr.name}}-{{ i }}.png" data-lightbox="image-1" title="{{curr.name}}"> <img class="img-gallery" src="//images.weserv.nl/?url={{- site.url -}}{{link}}arts{{- curr.image-url -}}/{{curr.name}}-{{ i }}.png&w=300&h=300&output=jpg&q=50&t=square" alt="{{curr.name}}{{ i }} from {{ curr.img-num | capitalize }}"></a>   
          {%- endif -%}
          <br> <br>                  
        {%- endfor -%}
        {%- if curr.img-num > 0 -%}
          {{- curr.img-desc -}}
          <br><br>
        {%- endif -%}
        
        <hr style="margin-top: 28px">

        {%- if curr.port-url -%}
        <img class="margin--right--none"  src="{{- site.url -}}{{link}}portrait{{- curr.port-url -}}"/>
            <!-- <img class="margin--right--none" src="//images.weserv.nl/?url={{- site.url -}}{{- curr.port-url -}}&output=jpg&q=50&t=square" /><br> -->
        {%- endif -%}
        <br><br>
        {{curr.port-desc}}        
    </div>
    
  
    {%- for t in curr.sub-tabs -%} 
    <div id="{{t.source}}" class="tab-content">      
      <h4 class="has-text-secondary"> <b>| {{t.name}} </b></h4> 
      <br>
        {%- if t.img-num > 0 -%}
          <!-- {%- for i in (1.. t.img-num) -%} -->
            
              <!-- <img class="margin--right--none"  src="{{- site.url -}}{{- t.image-url -}}/{{t.name}}-{{i}}.png" alt="{{t.name}}-{{i}}"/><br> <span>{{ t.name }}-{{i}}</span> -->
                                        
              <ul class="image-gallery"><li><a href="{{- site.url -}}{{link}}arts{{t.image-url}}/{{t.name}}-{{i}}.png" data-lightbox="image-1" title="{{ t.name }}-{{i}}"><img src="//images.weserv.nl/?url={{site.url}}{{link}}arts{{t.image-url}}/{{t.name}}-{{i}}.png&w=300&h=300&output=jpg&q=50&t=square" alt="{{ t.name }}-{{i}}"></a></li></ul>
            <br><br>                             
          <!-- {%- endfor -%}   -->

          {%- if t.img-desc -%}
            {{t.img-desc}}
            <br><br>
          {%- endif -%}  
        {%- endif -%}            
        
        <hr style="margin-top: 28px">

        {%- if t.port-url  -%}            
        <img class="pmargin--right--none" src="{{- site.url -}}{{link}}portrait{{ t.port-url}}" />
          <!-- <img class="margin--right--none" src="//images.weserv.nl/?url={{- site.url -}}{{- t.port-url -}}&w=300&h=400&output=jpg&q=50&t=square"/> <br> --> 
        {%- endif -%}                        
        <br><br>
        {{t.port-desc}}   
    </div>
    {% endfor %} 
</div>



<!-- <span><img src="http://mmctxt.com/link/img/icon01.png" alt="icon"></span>
<span><img src="http://mmctxt.com/link/img/icon02.png" alt="icon"></span> 

<div class="allWrap">     
    <div class="tabBox">
        <p class="tab-link current" data-tab="tab-1"> 만공스님</p>
        <p class="tab-link"  data-tab="tab-2"> Setting02</p>
        <p class="tab-link"  data-tab="tab-3"> Setting03</p>
    </div>
    <div id="tab-1" class="tab-content current">contents01</div>
    <div id="tab-2" class="tab-content">contents02</div>
    <div id="tab-3" class="tab-content">contents03</div>
</div>
-->

<!-- <div class="tabmenu">
    <div class="big_tab">
      <ul>
        <li><a href="#tab01">tab1</a></li>
        <li><a href="#tab02">tab2</a></li>
        <li><a href="#tab03">tab3</a></li>
        <li><a href="#tab04">tab4</a></li>
      </ul>
    </div>
    <div class="sm_select">
      <select name="" id="tabmenu">
        <option value="#tab01">test</option>
        <option value="#tab02">tab2</option>
        <option value="#tab03">tab3</option>
        <option value="#tab04">tab4</option>
      </select>
    </div>
</div>

  <div id="tab01" class="tab-contents">
    <h2>Tab 1</h2>
  </div>
  <div id="tab02" class="tab-contents">
    <h2>Tab 2</h2>
  </div>
  <div id="tab03" class="tab-contents">
    <h2>Tab 3</h2>
  </div>
  <div id="tab04" class="tab-contents">
    <h2>Tab 4</h2>
  </div>
  <div id="tab05" class="tab-contents">
    <h2>Tab 5</h2>
  </div> -->

